<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/register/register.css" %}">
    <title>Register</title>
</head>
<body>
    <div class="register-panel">
        <div class="register-text">
            <h1>
                Are you register.. ?
            </h1>
            <h4>If you are already registered, then authenticate yourself <a href="{% url 'login' %}">register</a></h4>
        </div>

        <div class="forums-group">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="confirm_password"></label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Password confirm"
                    required>
            </div>
        </div>

        <div class="button-register">
            <button type="button" class="btn">Register</button>
        </div>
    </div>
</body>
</html>