{% extends 'layout/global.html' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Профіль користувача</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4>Ім'я Користувача</h4>
                        <p>Email: user@example.com</p>
                        <p>Дата народження: 01.01.2000</p>
                        <p>Роль: Учень</p>
{#                        <button class="btn btn-primary">Редагувати профіль</button>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}